/* Full html */

html {
    position: relative;
    min-height: 100%;
}


/* Navbar */

.navbar {
    background-color: #343a40;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}


/* Navbar brand */

.navbar-brand {
    font-size: 2rem;
    font-weight: bold;
    margin-left: 1rem;
    background-color: cornflowerblue;
    border-radius: 15px;
    padding: 0.5rem 1rem;
}


/* Navbar links */

.navbar-nav .nav-item .nav-link {
    font-size: 1.2rem;
    padding: 1.5rem 2rem;
}


/* Dropdown */

.dropdown-menu {
    background-color: #343a40;
    border: none;
    padding: 0.5rem 0;
}

.dropdown-item {
    color: white;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
}

.dropdown-item:hover {
    background-color: #5c636a;
}


/* Search input */

.form-control {
    background-color: #5c636a;
    border: none;
    color: white;
}

.form-control:focus {
    background-color: #5c636a;
    border: none;
    box-shadow: none;
    color: white;
}

.row {
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.grid-item {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}

.visualization-list {
    border-radius: 10px;
}


/* Head */

.head {
    text-align: center;
    margin-top: 40px;
}


/* Body */

body {
    margin-bottom: 60px;
    background-color: rgb(195, 206, 251);
}

.sidebar {
    margin-top: 50px;
    margin-left: 10px;
}


/* Header */

header {
    margin-top: 100px;
    text-align: center;
}


/* Image */

img {
    border-radius: 15px;
}


/* Table row, table data */

tr td {
    padding: 0 !important;
    margin: 0 !important;
}


/* Footer */

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: rgb(149, 180, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/* Data content */

.data-content {
    margin-top: 100px;
    /* Adjust this value to fit your navbar height */
}


/* Overviews */

.plot-overview {
    padding: 10px;
    margin: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 15px;
    background-color: #f8f9fa;
    font-size: 1.1em;
    line-height: 1.5em;
    text-align: justify;
}

.project-overview {
    padding: 10px;
    margin: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 15px;
    background-color: #f8f9fa;
    font-size: 1.1em;
    line-height: 1.5em;
    text-align: justify;
}


/* Wrapper */

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Image boxes */

.image_box1 img {
    max-width: 100%;
    height: auto;
}


/* Scaling */

@media (max-width: 768px) {
    .wrapper {
        flex-direction: column;
    }
}